.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 840px) {
  .item-container {
    grid-template-columns: 1fr;
  }
}
