/* You can add global styles to this file, and also import other style files */

@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


:root {
  --primary-color: #1e90ff;
}

body {
  background: #fff5d9;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
