<div class="flex flex-col gap-2 items-center">
  <h4 class="m-0">
  {{item.name}}
  </h4>
<img [src]="item.photo" [alt]="item.name"/>

<p-inputNumber [(ngModel)]="item.amount" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" [inputStyle]="{'text-align': 'center'}"
               decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0" [max]="bagSize" [size]="1"></p-inputNumber>
</div>
