<div>
  <div class="text-center md:py-6 lg:px-32 xl:px-64">
    <h1 class="text-yellow-400 text-5xl">LoLChest</h1>
    <h4>
      Keep track of your personal PVE item bag!
      <br />
      Calculate the drop chance of certain items to make better decisions at the carousel.
    </h4>
    <h5>
      After the first 2 carousels on 2-4 and 3-4, click "Add Carousel" to reflect how item bags get filled again.
    </h5>
    <app-items></app-items>
    <h5 class="mt-2 mb-0">Support me on <a class="text-fuchsia-400 font-black" href="https://ko-fi.com/brandonduong">Ko-fi!</a></h5>
  </div>
</div>
